{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}





{% block body %}
    <div class="centered-content">
        <button type="button" id="boutonAfficherDivPhoto" style="border: 1px solid black">Afficher Photo</button>
        <button type="button" id="boutonMasquerDivPhoto" style="border: 1px solid black">Masquer Photo</button>

        <div id="divPhoto"></div>
        <div id="divPhotoTablette" style="display: none"></div>
        <dialog id="divModal"></dialog>
    </div>
{% endblock %}

{% block javascripts %}

    <script src="{{ asset('scripts/CameraClass.js') }}"></script>

    <script>

        window.onload = () => {
            const boutonAfficherDivPhoto = document.getElementById('boutonAfficherDivPhoto');
            const boutonMasquerDivPhoto = document.getElementById('boutonMasquerDivPhoto');
            const divPhoto = document.getElementById('divPhoto');
            const divPhotoTablette = document.getElementById('divPhotoTablette');
            const divModal = document.getElementById('divModal');
            const urlFetch = "/identification_prestation/upload_photo"

            const camera = new CameraClass( boutonAfficherDivPhoto , boutonMasquerDivPhoto , divPhoto , divPhotoTablette, divModal, urlFetch );
            camera.init();
        }

    </script>

{% endblock %}