input{
    padding-left: 10px!important;
}

.divSeparator {
    margin: 20px;
    justify-content: space-between;
    align-items: center;

}

.inputSeparator {
    top: 50%;
    bottom: 50%;
    margin-right: 5px;

}


.flash {
    padding: 20px;
    font-weight: bold;
    font-size: 1.4rem;
    border-radius: 5px;
    margin : 10px;
    border: 10px;
    text-align: center;
}

.flash-success  {
    background-color: forestgreen !important;
    width: 20%;
}

#divflash{
    display: flex;
    justify-content: center;
}
.flash-fail {
    background-color: darkred !important;
    width: 20%;
}
.pointer {
    cursor: pointer;
}

/* Added for central div styling */
.centered-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    background-color: white;
    /* or any color you prefer */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    padding: 15px 30px;
    border-radius: 10px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body {
    background: rgb(250,94,0);
    background: radial-gradient(circle, rgba(250,94,0,0.7301295518207283) 16%, rgba(238,188,177,1) 79%);

}
