@media screen and (width: 2000px) and (height: 1200px) {
    #afficherPhoto {
        display: none;
    }

    #divUpload2 {
        display: flex !important;
    }
}

@media screen and (max-width: 1200px) {
    .centered-content {
        width: 60% !important;
    }

    #tableauFormulaires {
        height: 70vh !important;
    }

    #afficherPhoto {
        display: none;
    }

    #divUpload2 {
        display: flex !important;
    }

}

@media screen and (max-width: 1000px) {
    #divInfosArticle {
        width: 100% !important;
    }
}

@media screen and (max-width: 850px) {
    .gridCalendar {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .centered-content {
        width: 90% !important;
    }

    thead,
    tbody,
    table,
    tr,
    th,
    td {
        display: block;
    }

    td {
        padding-left: 150px;
        position: relative;
        margin-top: -1px;
        background-color: white;
    }

    td:nth-child(odd) {
        background-color: lightgoldenrodyellow;
    }

    td::before {
        content: attr(data-label);
        position: absolute;
        top: 0;
        left: 0;
        width: 130px;
        bottom: 0;
        background-color: rgb(255, 237, 213);
        display: flex;
        align-items: center;
        padding: 10px;
        font-weight: bold;
    }

    thead {
        display: none;
    }

    #divTabForms {
        background-color: transparent !important;
    }

    #navbar {
        display: none;
    }

    #faviconBurger {
        display: block !important;
    }

}

@media screen and (max-width: 768px) {
    #divGestionStock {
        width: 50vw !important;
    }

    #boutonsAjoutRetrait {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    #boutonsAjoutRetrait button,
    #boutonsAjoutRetrait input {
        width: 60%;
        margin-top: 10px;
    }

}

@media screen and (max-width: 650px) {
    #fileInput2 {
        width: 80%;
        height: 2rem;
    }
}


@media screen and (max-width: 560px) {
    .gridCalendar {
        grid-template-columns: repeat(1, 1fr) !important;
    }

    #divGestionStock {
        width: 70vw !important;
    }

}



@media screen and (max-width: 470px) {
    #navLogoEtMenu {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #divGestionStock {
        width: 80vw !important;
    }

    #divLogin {
        width: 90vw !important;
    }

    #dropdown {
        right: 50%;
        left: 50%;
        width: 50vw !important;
    }

}

@media screen and (max-width: 400px) {
    #imgPrefabloc {
        width: 90%;
        height: 100%;
    }

    #divBoutonsIdentificationPrestation {
        flex-direction: column;
    }

    #divBoutonsIdentificationPrestation>button {
        width: 90%;
    }

    #afficherPhoto {
        width: 20% !important;
    }

}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fade-out {
    animation: fadeOut 2s forwards;
}

:root {
    --main-color: rgba(250, 94, 0, 0.7301295518207283);
    --bg-color: rgba(238, 188, 177, 1);
    --second-color: rgb(255, 255, 255)
}

html {
    height: 100%;
}


body {
    background-image: url("../img/circus-3649160.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pointer {
    cursor: pointer;
}

.centered-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: #ffedd5;
    margin-top: 10vh;
    border-radius: 20px;
    height: fit-content;
    width: 50vw;
    gap: 2vh;
    padding-bottom: 2vh;

}

/* Added for central div styling
.centered-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--second-color);
    /* or any color you prefer
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    padding: 15px 30px;
    border-radius: 10px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
*/

input,
select {
    border: 1px solid black;
    width: 50%;
}

input {
    padding-left: 10px !important;
}

.divSeparator {
    margin: 20px;
    justify-content: space-between;
    align-items: center;
}

.inputSeparator {
    top: 50%;
    bottom: 50%;
    margin-right: 5px;
}

.flash {
    padding: 20px;
    font-weight: bold;
    font-size: 1.4rem;
    border-radius: 5px;
    margin: 10px;
    border: 10px;
    text-align: center;
}

.flash-fail {
    background-color: darkred !important;
    width: 40%;
}

.flash-success {
    background-color: forestgreen !important;
    width: 40%;
}

#divflash {
    display: flex;
    justify-content: center;
}

.flash-fail {
    background-color: darkred !important;
    width: 20%;
}

.gridCalendar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    height: 50vh;
    padding-top: 10vh;


    & div {
        display: grid;
        place-items: center;
        font-size: 1.5rem;
    }
}

.gridCalendar a {
    height: fit-content;
}

.marginPaddin {
    margin: 1rem;
    padding: 1rem;
}

#tableauFormulaires {

    border-radius: 10px;
    height: 100vh;
}

#divTabForms {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: #ffedd5;
    border-radius: 10px;
    margin: 2rem;
    padding: 2rem;
}

th,
td {
    border: solid 1px rgb(124, 45, 18);
}

th {
    background-color: #fdba74;
}

td {
    height: 100px;
}

tr {
    margin-bottom: 1rem;
}

tr:nth-child(odd) {
    background-color: lightgoldenrodyellow;
}

tr:nth-child(even) {
    background-color: white;
}

#dropdown {
    display: none;
    z-index: 1;
    position: absolute;
    right: 0;
    top: 5vh;
    width: 30%;
    height: 20%;
    overflow: auto;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

#divLogin {
    background-color: #ffedd5;
    border-radius: 10px;
    width: 25rem;
    padding: 20px;

}

#faviconBurger {
    height: 30px;
    width: 30px;
    display: none;
    border-radius: 7px;
}

#divInputBoutonsSuggestions {
    position: relative;
    text-align: center;
}

#searchArticle {
    z-index: 1;
    height: 40px;
    border-radius: 10px;
}

.suggestionsArticle {
    list-style-type: none;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    width: 100%;
    display: none;

}

.suggestionsArticle li {
    padding: 8px;
    cursor: pointer;
}


.suggestionsArticle li:hover {
    background-color: #fed7aa;
    border-radius: 10px;
}

#divGestionStock {
    display: flex;
    flex-direction: column;
    background-color: #ffedd5;
    border-radius: 10px;
    height: 20vh;
    justify-content: space-evenly;
    margin-top: 10vh;
    width: 40vw;
}

#boutonsAjoutRetrait {
    display: none;
    width: 100%;
    margin-top: 2vh;
}

#divInfosArticle {
    display: none;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 10vh;
    width: 50%;
    align-self: center;

}

#divInfosArticle ul li {
    padding: 1rem;
}

#divInfosIdentificationPrestation {
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    width: 100%;
    max-width: 90%;
}

#signature {
    border: solid 1px black;
    margin: 5%;
    border-radius: 10px;
}

#divSignature {
    display: flex;
    flex-direction: column;

}

#labelsInput {
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    background-color: white;

}

#modalConfirmationIdentificationPrestation {
    position: fixed;
    top: 0%;
    left: 0%;
    padding: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: #ffedd5;
}

#divBoutonsModaleConfirmationIdentificationPrestation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#divBoutonsModaleConfirmationIdentificationPrestation>* {
    margin-top: 30px;
}

/* Fenêtre Modale Signalements */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #ffedd5;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.type {
    display: flex;
    flex-direction: column;
}

#type {
    margin: 10px 0 10px 0;
    border-radius: 5px;
    background-color: #ffffff;
    padding-left: 10px;
}

.message {
    margin-top: 20px;
}

#infoMessage {
    padding-left: 10px;
}

#infoMessage {
    margin: 10px 0 10px 0;
    width: 100%;
    height: 50%;
    border-radius: 10px;
    border: 1px solid #000000;
}

.button {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

#return {
    margin-left: 20px;
}

.divFormInput {
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    width: 100%;
    max-width: 90%;
}

#divIdentificationPrestation {
    width: 50vw;
}

#divBoutonsIdentificationPrestation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#divBoutonsIdentificationPrestation>button {
    margin: 10px;
}

#divPhotoBon {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#noCamSVG {
    border-radius: 10px;
    border: 5px solid black;
    background-color: #64748b;
    width: 90%;
    display: flex;
    justify-content: center;
}

.divBoutonsPhotos {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}


#uploadFromDevice2:hover {
    background-color: #cbd5e1;
}


.modalConfirmation {
    background-color: #ffedd5;
    border-radius: 10px;
    padding: 30px;
    font-weight: bold;
    border: solid 1px black;
}

#modaleConfirmationPhoto {
    flex-direction: column;
    align-items: center;
}

#modaleConfirmationPhoto>p {
    text-align: center;
    font-weight: bold;
    margin: 10px
}

#effacer,
#upload {
    margin: 10px;
    padding: 10px;
    border: 3px solid black !important;
    background-color: #64748b !important;
    border-radius: 10px;
    font-weight: bold;
}

#effacer:hover,
#upload:hover {
    background-color: #cbd5e1 !important;
}

#video {
    width: 90%;
}


#canvasPhoto {
    display: none;
    border-radius: 10px;
    border: 3px solid black;
    width: 100%;
}

#divUpload {
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

#divUpload2 {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

#divUpload2>* {
    margin-bottom: 1.5rem;
}