<div id="infoModal" class="modal">
    <form class="modal-content" method="post">
        <span class="close">&times;</span>
        <div class="type">
            <label for="type">Signalement :</label>
            <select id="type">
                <option value="commentaire">Commentaire</option>
                <option value="panne">Panne</option>
                <option value="qualite">Qualité</option>
            </select>
        </div>
        <div class="message">
            <label for="infoMessage">Message :</label>
            <textarea id="infoMessage" placeholder="Entrer votre commentaire" rows="3"></textarea>
        </div>
        <div class="button">
            <button type="submit" id="submit" class="bg-blue-500 text-white font-bold py-2 px-4 rounded">Envoyer</button>
            <button type="button" id="return" class="bg-gray-500 text-white font-bold py-2 px-4 rounded">Retour</button>
        </div>
    </form>
</div>
<script>
    let infoModal = document.querySelector("#infoModal");
    let span = document.getElementsByClassName("close")[0];
    let submitButton = document.getElementById("submit");
    let returnButton = document.getElementById("return");

    // Function to show the modal
    function showInfoModal() {
        infoModal.style.display = "block";
    }

    // Lorsque l'utilisateur clique à l'exterieur de la modale, fermez-la
    infoModal.onclick = function(event) {
        if (event.target === infoModal) {
            infoModal.style.display = "none";
        }
    };

    // Lorsque l'utilisateur clique sur le bouton "x", fermez la modale
    span.onclick = function() {
        infoModal.style.display = "none";
    };

    // Lorsque l'utilisateur clique sur le bouton "retour", fermez la modale
    returnButton.onclick = function() {
        infoModal.style.display = "none";
    };

    submitButton.addEventListener("click", function(event) {
        event.preventDefault(); // Prevent the default form submission
        let type = document.getElementById("type").value;
        let message = document.getElementById("infoMessage").value;
        let productionType = "{{productionType}}" // discriminant ProductionForm

        let formData = new FormData();
        formData.append("type", type);
        formData.append("message", message);
        formData.append("productionType", productionType);

        fetch("/signalement", {
            method: "POST",
            body: formData,
            headers: {
                "X-Requested-With": "XMLHttpRequest"
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.trim() === "success") {
                infoModal.style.display = "none";
            } else {
                console.error("Form submission failed.",data);
            }
        })
        .catch(error => {
            console.error("Error:", error);
        });
    });
</script>