<dialog id="modaleConfirmationPhoto" class="modalConfirmation">
            <canvas id="canvasPhoto" width="640" height="480"></canvas>
            <p>Confirmez-vous vouloir utiliser cette photo ?</p>
            <div  class="divBoutonsPhotos">
                <button id="effacer" style="display: none ; border-radius: 10px; border : 1px solid black ; background-color: grey">Effacer</button>
                <button id="upload" style="display: none; border-radius: 10px; border : 1px solid black ; background-color: grey">Envoyer</button>
            </div>
</dialog>